<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="296" />
    <add key="mainForm.Location.Y" value="24" />
    <add key="mainForm.Width" value="606" />
    <add key="mainForm.Height" value="686" />
    <add key="runWebServerMenuItem" value="true" />
    <add key="minCloseMenuItem" value="true" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAJO7ejXH1PKaBwPDgf8AKONRWQwAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAJO7ejXH1PKaBwPDgf8AKONRWQwAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJO7ejXH1PKaBwPDgf8AKONRWQwAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJO7ejXH1PKaBwPDgf8AKONRWQwAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJO7ejXH1PKaBwPDgf8AKONRWQwAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJO7ejXH1PKaBwPDgf86GhsZGYDAgcHToaj8hjiMDQCLmW4OJAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJO7ejXH1PKaBwPDgf86GhsZGYDgwNfvLkXlN8RhbACMNDUpJAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJO7ejXH1PKaBwPDgf86GhsZGUBgSYNTUfkNcRgbAIU2vdEkAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEABP8czXH1PKaBwPDgf+WjBsZGSDAtaj8hjiMDQAeAU2gJAAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEADv5XTzX1PKaBwPDgf8AgsO0xAwAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAHM/0pRjannNg4HhwH9WpZ1MDECgYTLB6Ye2O5gt/rPX6bZIEpj9ILPf6YFhIpit4NLvdLI8Gcz2s+1z6noMES8/2+vEOhHC1jjc6+Q+AaJXel6v07YyiPqQqD6nxCsQNRPu9zkxV0DYv6z6nQArBlL8kAAAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAFNedzXH1PKaBwPDgf+mGhsZGcDAxnF5QxITAxSIMZSJwtgAB6xm/zAAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAJO7ejXH1PKaBwPDgf8AKONRWQwAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAGuLrM0xtbzmwcBw4P+lGk4mBiBQ1493XN6QBGbnOmxy+JILYbvpHnFgkoSwP+gUOTBqpoDZpTzRDhHKCWB2jEC/Q+EjiBqvi74OjBeTwewHBzUcZoUlgtnbdtU4KPFB1LwzbnSYKQJRc6RqmgMABzwCfpAAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAJtqVJtjannNg4HhwP/DizmZGIBAIqfScXlDEpjNq//Y4UsuhJ2257MDkySEHflpkQOjZgqYzbRiqkOEcgKYbSmx26HwEUQNy9UeB8aLyWD2pPJih1lhiWB2wfKlDkp8EDUTHq92mCkCUfNuw2EHAMfmlfCQAAAA" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAJvEXZtjannNg4HhwP9jpziZGIBAj2G9y/KGJDCb6wO765dcCJuDQcyVSRLC5mM44cKomQJm8wDVRygnQNQnzHcpfARRw9uw24XxYjJEPZA9KywRyr7iosQHUSPI8NBlpghEDTfQHADm6OpfkAAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJvEXZtjannNg4HhwP+zNpxMDECg17DIpT0nCczmc9jqomEFYXM4MLvODIKw+RuuuEw/nwxm8zbsdlnRlwBmCzA8dAleCVHDy3DCRb4RooYPyH41IxHM5gGyv1pD1Ag1vHX5sRjC5gGaAwDUV514kAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAMs/U5NjannNg4HhwH/PXg4mBiDQY1jvsnt9EpjNB2SzeMPYD13UZSBs3obdLn9XJYPZPEA1hV8TwGzBhrcuO2ZA1HADxTskEWqm/UuEs4NdIWqEgOrNNBHqAYkGU7+QAAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEACtbWpNjannNg4HhwP95x9mZGIBAt2GRSwJrMpjNuYHRNehnIpjNx/DQpTcjCczmZzjh8lcLooanYbdLRBlEjRDDL5fbOUlQ9SdcUiQgaviAaoS0oeIKp12u2yXBxTddh+jlBaoHANSYvm2QAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEALtVUZNjannNg4HhwP+6WC4mBiBQYzzhtLwhCcwWYDjh9CUXwuYBspkkIWw+IJtRMwXOjlBOALN5gezCR0hqLibD2bPCEuFqlPggaviB7JkiyXBxAIy34YeQAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAEv3qMkxtbzmwcBw4P+WxexMDGDQ4DTnYxKUXeoUzQZjRzjtYYWxA5yymZKhbB8noReJULavU3c7TI27k9JmGNvVyd8cxvZw2mgEY3s5HbyaCBcHAAMr9muQAAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAEv3qMkxtbzmwcBw4P+WxexMDGBQ6jTnYxKUne8UzQZjBzntYYWxvZyymZKhbFcnoReJULa7U3c7TI2jk9JmGNvOyd8cxnZy2mgEY9s7HbwK0+vgBAB1PjWkkAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAJMSrMkxtbzmwcBw4D/jbXYmBjAodJrzMQnKTnaKZoOxA5z2sMLYHk7ZTMlQtquT0ItEOLu7HabGyUlpM4zt4ORvjhDfaARjOzsdvArTa+cEAMAtCtqQAAAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAJMSrMkxtbzmwcBw4D/jbXYmBjCod5rzMQnKznGKZoOxw5z2sMLYXk7ZTMlQtouT0ItEuHh3O0yNg5PSZhjb0cnfHMZ2d9pohGAfvArT6+oEABUKQIWQAAAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAFN6VZ1jannNg4HhwP+fjBxMDGBQ5zTnYxKUXeQUzQZjhzvtYYWxfZ2ymZKhbB8noReJULa3U3c7TI2bk9JmGNvJyd8cwd5oBGN7Oh28CtPr7gQAd+aaNpAAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEABP4mp5jannNg4HhwH/u79JMDECwzz3Rac7HJDDb1TvWKZoNwmbgyHDawwplW+g5ZTMlQ9g7rJyEXiRC2DMCnLrboWo8bJyUNkPZGpZO/uYwve5OG42gbAdTp4NXoXod/JwAKvH2MJAAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEABM+l55jannNg4HhwH8OORkmBiB4E1TkNOdjEpgdZRDrFM0GYTM0hDjtYYWw95u7OGUzJYPZR585Owm9SISoyYhw6m6HqFni6OGktBnCVpKzdPI3h5pj4OC00QjKnmDgdPAqRO+t68ZOAPse5qaQAAAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAPOclJ5jannNg4HhwP9LkTJMDEAgcKLFac7HJDBbrSPWKZoNwmY44eG0hxXKLhBxymZKhrBfMDgJvUiEsHdYOXW3Q9S4XdjgqLQZwjbT3u3obw7Vq2DktNEIyn5h5HTwKlSvgqQTAJaLQOeQAAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAAt2Sc8xtbzmwcBw4P+J5TJMDECg7NfsNOdjEph91zLGKZoNwmZoCHHawwplC6g4ZTMlQ9gfFJyEXiRC2AW6Tt3tUDUbpJyUNkPZK4Sd/M2hbA9lp41GUPYLb6eDV6F6fzg4AQCLeI8NkAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAGMUSM8xtbzmwcBw4L/UHRkmBiA48rHCac7HJDA7gz/WKZoNwmYoCXPawwphf9it5ZTNlAxmb5TVcBJ6kQhR4+Xi1N0OUVP0QtZJaTOE/f6BhJO/OdQcE3OnjUZQtoal08GrEL3fuc2dAHAG7wyQAAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAKt815RjannNg4HhwP/L33cwMQDBjE08Dj+03cHsBUFCDrdFksDsNRv4HB4YJoLZd/j5HU6WJ4PZc5YJOnQ9hogvOCDkwDoRyr4l5OA+AaKXx0LYYVsZRH1OrKBD4hWImhJeAQfmCgj7gxq/AwBUN3ACkAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAGs+3pRjannNg4HhwP+TcjuZGICg5sJWhx/a7mB2BcNmh9siSWB20cUtDg8ME8HsWwu3OJwsTwazq8I2O3Q9hohXnNzkwDoRyt6zycF9AkTvod5NDtvKIOqFqjc7JF6BqOFT3uLAXAFhB0zb4gAAfiwwcZAAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAMtvqM0xtbzmwcBw4P/LUE4mBiBgD++yWd6QBGZ739K1/ZILYe+5a23NJAlhK5z5aMWomQJmywcctY5QTgCzS2vFbQofQdTcunHaivFiMpgd8XyC9aywRDB7gWiCrRIfRM3aHxttZ4pA1Ey8GG4LAB3tGjmQAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAMtvqM0xtbzmwcBw4P/LUE4mBiA4X1Zjv7whCcyeN93P/ksuhO0kZGrPJAlhM7zlsmfUTAGz31Qz2EcoJ4DZJ2V17QsfQdS8/vjcjvFiMpjt++W23aywRDDbb7ekvRIfRI1xoYn9TBGIGm4DU3sAzPYYa5AAAAA=" />
  </appSettings>
</configuration>